# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*
!.env.example
!.env.template

# Virtual Environments
venv/
env/
.venv/

# DB
*.sqlite3
*.db
instance/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
